<div style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
  <p>Hello Hiring Team,</p>

  <p><%= @description %></p>

  <p>Looking forward to discussing this opportunity.</p>

  <br>

  <div>Thanks & Regards,</div>
  <%#  %>
  <div><strong><%= @user.name %></strong></div> 
  <div><%= @user.email %></div>
  <div><%= @user.phone_number %></div>
</div>
